/* Full screen container */
.endScreen {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.winScreen,
.loseScreen {
  width: 100%;
  height: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Victory full-screen image */
.winScreen {
  background-image: url('../assets/game-win.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Lose full-screen image */
.loseScreen {
  background-image: url('../assets/game-lose.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Text styling */
.winScreen h1 {
  font-size: 100px;
  font-family: 'Irish Grover', cursive;
  font-weight: bold;
  -webkit-text-stroke: 3px #6D4C41;

  margin-bottom: 20px;

}

.loseScreen h1 {
  font-size: 100px;
  font-family: 'Irish Grover', cursive;
  font-weight: bold;
  -webkit-text-stroke: 3px #F5F5DC;
  color:#372621;
  margin-bottom: 0.5px;

}

.winScreen h2 {
  font-size: 50px;
  font-family: 'Irish Grover', cursive;
  font-weight: bold;
  -webkit-text-stroke: 2px #6D4C41;
  margin-left: 200px;
  margin-right: 200px;
}

.loseScreen h2 {
  font-size: 50px;
  font-family: 'Irish Grover', cursive;
  font-weight: bold;
  -webkit-text-stroke: 1px #F5F5DC;
  margin-left: 200px;
  margin-right: 200px;    
  color:black;

}
/* Button styling */
.winScreen button,
.loseScreen button {
  padding: 12px 30px;
  font-family: 'Irish Grover', cursive;
  font-size: 32px;
  color: #F5F5DC;
  border-radius: 18px;
  border: 4px solid #372621;
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  background-color: #1E6722;
}

.endStats {
   display: flex;
   justify-content: center;
}

.speciesBox, .healthBox {
  background:  #6D4C41;
  border: 4px solid  #372621;
  padding: 15px 25px;
  
}

.speciesBox{
  border-radius: 20px 0px  0 20px;
}

.healthBox{
  border-radius: 0px 20px 20px 0px;
}
.statLabel {
  font-family: 'Irish Grover', cursive;
  font-size: 32px;
  color: black;
}

.extinctSection {
  font-family: 'Irish Grover', cursive;
  font-size: 50px;
  color: #F5F5DC;
  -webkit-text-stroke: 2px #6D4C41;
}

.notButton{
    margin-bottom: 500px;
}