.notificationContainer {
  position: absolute;
  top: 80px;
  right: 20px;
}

.notification {
  background: #fff9c4;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
